:root{
    --brandColor: #2B788B;
    --lightBGC: #2b788b28;
    --backgroundColor:#fffde7;
    --backgroundColor2: #fefcf0;
    --backgroundColor3: #f6f3f4;
}

/* .s1c1{
    height: 93vh ;
}

.sectionHeight{
    height: 100vh;
} */

.tc{
    color: var(--brandColor);
}

.bg{
    background-color: var(--backgroundColor);
}

.bg2{
    background-color: var(--backgroundColor2);
}

.bg3{
    background-color: var(--backgroundColor3);
}

.bgcLight{
    background-color: var(--lightBGC)!important;
}

.headerTitle{
    font-size:60px;
    font-family: 'lilita one';
    font-weight:bold;
}

.growing{
    font-size: 42px;
    font-family: 'lilita one';
    font-weight:bold;
}

.brFont{
    font-family: 'lilita one';
}

/* Header Coding */
.profileName{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid green;
    text-align: center;
    align-content: center;
    padding-top: 8px;
}

.profileSection{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}